@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
* {
    padding: 0;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
    color: #737373;
}

.visually-hidden{
    display: none;
}

body>header {
    background: #FFE05D;
    height: 80px;
    width: 100%;
}

.logo {
    top: -8px;
    position: relative;
    float: left;
    padding: 0 5px;
    margin-left: 30px;
}
.logo:hover {
    top: -10px;
}

h1.siteName,div.menu {
    color: #737373;
}

h1.siteName {
    font-size: 30px;
    padding: 0 10px;
    margin-top: 25px;
    float: left;
}

header > a, nav > a {
    font-size: 18px;
    color: inherit;
    margin: 0 5px;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px;
}

.search {
    position: relative;
    top: 17px;
    right: 20px;
    float: right;
}
.search:hover{
    top: 10px;
}

hr {
    top: -15px;
    position: relative;
    margin: 0;
    float: left;
    border: 5px solid #ff8829;
    width: 100%;
}

.loggedOut > a:hover, .loggedIn > a:nth-child(2):hover {
    transition: .2s;
    background: #ff8829;
    color: #FFE05D;
}

/*When user has logged in*/

.loggedIn {
    float: right;
    margin-right: 30px;
}

.loggedIn > a:nth-child(2){
    position: relative;
    top: -10px;
}

.loggedIn img {
    border-radius: 50%;
}

.loggedIn img:hover{
    border-radius: 10px;
}

/*When user is logged out*/

.loggedOut {
    float: right;
    margin-top: 31px;
    margin-right: 30px;
}

