#main{
    background-color: #FFF8CD;
    padding-bottom: 25%;
    width: 100%;
    display: inline-block;
}

#main > article{
    margin: 30px;
    vertical-align: top;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 10px;
}

article > h3{
    text-align: center;
}