#signup{
    background-color: #FFF8CD;
    padding-bottom: 25%;
}

#signup > h2 {
    color: #535353;
    text-align: center;
    font-size: 45px;
}

section {
    position: relative;
    top: 10px;
    background-color: #FFF8CD;
    align-self: center;
    padding-bottom: 135px;
}

form {
    color: #535353;
    position: relative;
    top: -30px;
    padding-top: 50px;
    margin: 0 auto;
    width:250px;
}

input {
    display: block;
}

form > label {
    font-size: 20px;
}

label > input {
    border:1px solid #b3b3b3;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 15px;
    width: 220px;
    height: 25px;
}

div > input {
    display: inline;
    margin-left: 10px; 
    margin-right: 5px;
}

input[type="submit"] {
    position: relative;
    top: 20px;
    left: 45px;
    background-color: #ff8829;
    color: #FFF8CD;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
}

input[type=submit]:hover{
    background-color: #737373;
    color: #FFF8CD;
}

label{
    display: block;
}