#main {
    background-color: #FFF8CD;
    padding-bottom: 25%;
    width: 100%;
    display: inline-block;
}

#main > div{
    margin-left: 15%;
}
#userAndPosts{
    display: inline-flex;
}

@media only screen and (max-width: 800px) {
    #userAndPosts{
        display: block;
        align-items: center;
    }
}


p {
    font-size: 18px;
}

#user_profile {
    height: 400px;
    width: 300px;
    margin: 95px;
    align-content: center;
}

header>img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

#user_profile {
    position: relative;
    right: -20px;
}

#user_profile>form {
    position: relative;
    left: -5px;
    float: left;
    margin-right: 20px;
}

#bio {
    font-size: 20px;
}

#posts {
    margin: 95px;
}

article {
    margin-bottom: 30px;
}

article:hover {
    background-color: #FFE05D;
}

article>img {
    float: left;
    margin-right: 30px;
    position: relative;
    top: -10px;
    width: 100px;
    height: 70px;
}


input[type="submit"] {
    background-color: #ff8829;
    color: #FFF8CD;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
}

input[type=submit]:hover {
    background-color: #737373;
    border-radius: 10px;
    color: #FFF8CD;
}

#user_info{
    position: relative;
    left: -10px;
    display:inline-flex;
}
#user_info>h3{
    margin: 5px 10px;
}

#favourite > h2,#proposal > h2, #proposal > ul{
    margin-left: 5%;
}

/*favourites list*/
#favourite{
    display: block;
}

#favourite > h2{
    font-size: 30px;
}

#favourite > article{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 10px;
    background-color: #FFF8CD;
}

#favourite > article > h3{
    text-align: center;
}

#proposal > ul {
    margin-top: 20px;
}

#proposal > ul > li > form{
    margin-left: 50px;
}