#main {
    background-color: #FFF8CD;
    padding-bottom: 19%;
    width: 100%;
    position: relative;
    top: -11px;
    display: inline-flex;
}

#user_profile {
    height: 400px;
    width: 300px;
    margin: 95px;
    align-content: center;
}

header>img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

#user_profile>header {
    position: relative;
    right: -20px;
}

#user_info>p {
    display: left;
    margin-right: 20px;
}

#user_profile>form {
    float: left;
    margin-right: 20px;
}

#bio {
    font-size: 20px;
}

#posts {
    width: 600px;
    display: inline;
    margin: 95px;
}

article {
    margin-bottom: 50px;
}

article>img {
    float: left;
    margin-right: 30px;
    position: relative;
    top: -10px;
    width: 100px;
    height: 70px;
}

footer {
    position: relative;
    top: -50px;
}

input[type="submit"] {
    background-color: #ff8829;
    color: #FFF8CD;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10%;
    border-style: none;
}

input[type=submit]:hover {
    background-color: #737373;
    border-radius: 10%;
    color: #FFF8CD;
}